

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Patient</h3>
  </div>
  <form name="myForm">
  <div class="panel-body" ng-show="addDetails">
<label for="basic-url">Patient Name</label>
  		        <div class="row listing-form-row">

                  <div class="col-sm-4">
  		            <div class="input-group">
  		              <span class="input-group-addon">First</span>
  		              <input
  		              	type="text"
  		              	placeholder="Name"
  		              	class="form-control"
  		              	ng-model="newPatient.firstName" required>
</div>
  		            </div>
                  <div class="col-sm-4">
                  <div class="input-group">
  		          <span class="input-group-addon">Middle</span>
                      <input
                        type="text"
                        placeholder="Name"
                        class="form-control"
                        ng-model="newPatient.middleName">

                          		            </div>
  		            </div>
                  <div class="col-sm-4">
                  <div class="input-group">
  		              <span class="input-group-addon" required>Last  </span>
                        <input
                          type="text"
                          placeholder="Name"
                          class="form-control"
                          ng-model="newPatient.lastName">
  		            </div>
                    		            </div>
</div>


                    <label for="basic-url">Details</label>
<div class="row listing-form-row">

                <div class="col-sm-4">

                  <div class="input-group">
                    <span class="input-group-addon">Age</span>
                    <input
                      type="number"
                      placeholder="Digits"
                      class="form-control"
                      ng-model="newPatient.age">

                  </div>
                </div>

                <div class="col-sm-4">

                  <div class="input-group">

                    <span class="input-group-addon">Gender</span>
                    <select
                      type="select"
                      name="propertyType"
                      id="propertyType"
                      class="form-control"
                      ng-model="newPatient.gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>

                  </div>
                </div>

                <div class="col-sm-4">

                  <div class="input-group">

                    <span class="input-group-addon" >Date</span>
                    <input
                      type="text"
                      placeholder=""
                      class="form-control disabled"
                      disabled
                      ng-model="newPatient.dateTime">
                  </div>
                </div>
</div>

  <label for="basic-url">Address</label>
<div class="row listing-form-row">
                <div class="col-sm-4">
  		            <div class="input-group">
  		              <span class="input-group-addon">House No.</span>
  		              <input
  		              	type="text"
  		              	placeholder="Enter the address"
  		              	class="form-control"
  		              	ng-model="newPatient.address.houseno">
                    </div>
                  </div>
                  <div class="col-sm-4">
    		            <div class="input-group">
                      <span class="input-group-addon">Building</span>
                      <input
                        type="text"
                        placeholder="Enter the address"
                        class="form-control"
                        ng-model="newPatient.address.building">
                      </div>
                    </div>
                    <div class="col-sm-4">
      		            <div class="input-group">
                        <span class="input-group-addon">Street</span>
                        <input
                          type="text"
                          placeholder="Enter the address"
                          class="form-control"
                          ng-model="newPatient.address.street">
  		            </div>
  		          </div>

                <div class="col-sm-4">
                  <div class="input-group">
  		              <span class="input-group-addon">Locality</span>
  		              <input
  		              	type="text"
  		              	placeholder="Enter the address"
  		              	class="form-control"
  		              	ng-model="newPatient.address.locality">
                    </div>
                  </div>
                  <div class="col-sm-4">
    		            <div class="input-group">
                      <span class="input-group-addon">Area</span>
                      <input
                        type="text"
                        placeholder="Enter the address"
                        class="form-control"
                        ng-model="newPatient.address.area">
                      </div>
                    </div>
                    <div class="col-sm-4">
      		            <div class="input-group">
                        <span class="input-group-addon">City</span>
                        <input
                          type="text"
                          placeholder="Enter the address"
                          class="form-control"
                          ng-model="newPatient.address.city">
  		            </div>
  		          </div>

                <div class="col-sm-6">
  		            <div class="input-group">
                    <span class="input-group-addon">State</span>
                    <input
                      type="text"
                      placeholder="Enter the address"
                      class="form-control"
                      ng-model="newPatient.address.state">
                    </div>
                  </div>
                  <div class="col-sm-6">
    		            <div class="input-group">
                      <span class="input-group-addon">Country</span>
                      <input
                        type="text"
                        placeholder="Enter the address"
                        class="form-control"
                        ng-model="newPatient.address.country">

                  </div>
                </div>


  		        </div>



  		      </div>

            <div class="panel-body" ng-show="addDiseases">
  <label for="basic-url">Disease</label>
    		        <div class="row listing-form-row">




  <div class="col-sm-10">
                                      <div class="container-fluid" ng-repeat="disease in newPatient.diseases">
                    <span class="">Type:</span>
                    <select
                      type="select"
                      name="propertyType"
                      id="propertyType"
                      class=""
                       ng-model="disease.type">
                        <option value="Diabetes">Diabetes</option>
                        <option value="High B.P.">High B.P.</option>
                        <option value="High Cholesterol">High Cholesterol</option>
                        <option value="Anemia">Anemia</option>
                        <option value="Stroke">Stroke</option>
                        <option value="Cataracts">Cataracts</option>
                        <option value="Tuberculosis">Tuberculosis</option>
                        <option value="Heart Problems">Heart Problems</option>
                        <option value="Kidney Problems">Kidney Problems</option>
                        <option value="Other">Other</option>
                    </select>

                      <span class="">Comments:</span>
                      <input
                        type="text"
                        placeholder="Enter the address"
                        class=""
                         ng-model="disease.comments">


                           <span class="">
    <button class = "btn btn-warning " ng-click="removeFrom(newPatient.diseases, $index)">Remove Disease</button></span>

                </div>

  <button class="btn btn-primary" ng-click="addTo(newPatient.diseases,{type:'', comments: ''})">Add  Another Disease</button>

</div>
              </div>
            </div>
            <button
              class="btn btn-default listing-button"
              ng-show="addDetails"
              ng-click="addDetails=!addDetails; addDiseases = !addDiseases"
              >Add Diseases
            </button>
            <button
              class="btn btn-default listing-button"
              ng-show="addDiseases"
              ng-click="addDetails=!addDetails; addDiseases = !addDiseases"
              >Add Details
            </button>
            <button
              class="btn btn-success listing-button"
              ng-disabled ="myForm.newPatient.firstName.$dirty && myForm.newPatient.firstName.$invalid ||
  myForm.newPatient.lastName.$dirty && myForm.newPatient.lastName.$invalid"
              ng-click="addPatient(newPatient); "
              >Submit
            </button>
</form>
            <div class="panel-footer"><a href="#/home"><button class="btn btn-primary">Back</button></a></div>
  </div>
