

    <div class="container">
        <div class="jumbotron" style="padding-bottom:0px;">
            <h2>Johnny Pages</h2>
        </div>
        <input type="text" ng-model="yourId" placeholder="Enter a name here">
            <input type="text" ng-model="yourPass" placeholder="Enter a name here">
            <hr>
            <h1>Hello {{yourId}}!</h1>
  <h1>Hello {{yourPass}}!</h1>

        <button class="btn btn-lg btn-primary btn-block"  ng-click="SignUp();">Sign Up</button>
       <button class="btn btn-lg btn-primary btn-block" ng-click="Login()">Log In</button> </a>

<div>
  <pre>{{users | json}}<pre>
</div>
    </div>
