

    <div class="container">
      <form class="form-signin">
        <h4 class="form-signin-heading">Welcome to your Patient Database</h4 >

        <label class="sr-only">User ID</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Enter Your Id" required autofocus ng-model="yourId" >

                <label class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required  ng-model="yourPass">

        <span ng-show="failedLogin" style="color:red"> Wrong Id or Password </span>


       <button class="btn btn-lg btn-success btn-block"  type="submit" ng-click="Login()">Log In</button> </a>

               <button class="btn btn-lg btn-default btn-block"  ng-click="SignUp();">Sign Up</button>
 </form>
<div>
  <pre>{{users | json}}<pre>
</div>
    </div>
